@page "/images/duplicate-images"

<PageTitle>@App.PageTitle("Duplicate Images")</PageTitle>

<h1>Duplicate Images</h1>

<EditForm Model="@SearchModel" OnValidSubmit="@HandleValidSubmit" FormName="starship_fluent_entry" novalidate>
    <DataAnnotationsValidator/>
    <FluentValidationSummary/>


    <FluentStack Orientation="Orientation.Horizontal" Spacing="Spacing.Small">
        <FluentGrid Spacing="@Spacing" AdaptiveRendering="true" Justify="@Justification" Style="padding: 4px; ">
            <FluentGridItem xs="12">
                <div class="card">
                    xs="12"
                </div>
            </FluentGridItem>
        </FluentGrid>


        <div>>
            <FluentTextField Name="startingDirectory" @bind-Value="SearchModel.StartingDirectory" Label="StartingDirectory" Required/>
            <FluentValidationMessage For="@(() => SearchModel.StartingDirectory)"/>
        </div>
        <div>>
            <FluentSelect Name="class" Id="classification" @bind-Value="SearchModel.SearchType" TOption="string" Required Label="File Classification">
                <FluentOption Value="">Select classification ...</FluentOption>
                <FluentOption Value="Images">Images</FluentOption>
                <FluentOption Value="Files">Files</FluentOption>
                <FluentOption Value="All">All</FluentOption>
            </FluentSelect>
            <FluentValidationMessage For="@(() => SearchModel.SearchType)"/>
        </div>

        <FluentButton Type="ButtonType.Submit" Appearance="Appearance.Accent">Start Search</FluentButton>
    </FluentStack>
</EditForm>
