<EditForm Model="@SearchModel" OnValidSubmit="@HandleFormSubmit" FormName="search" novalidate>
    <DataAnnotationsValidator/>
    <FluentValidationSummary/>

    <FluentGrid Spacing="3" AdaptiveRendering="true" Justify="JustifyContent.FlexStart"
                Style="background-color: var(--neutral-layer-3); padding: 4px; ">
        <FluentGridItem xs="6" sm="3">
            <div class="card">
                xs="6" sm="3"
                <FluentTextField Name="startingDirectory" @bind-Value="SearchModel.StartingDirectory"
                                 Label="StartingDirectory" Required style="width: 100%;"/>
                <FluentValidationMessage For="@(() => SearchModel.StartingDirectory)"/>
            </div>
        </FluentGridItem>
        <FluentGridItem xs="6" sm="3">
            <div class="card">
                xs="6" sm="3"
                <FluentTextField Name="startingDirectory" @bind-Value="SearchModel.StartingDirectory"
                                 Label="StartingDirectory" Required style="width: 100%;"/>
                <FluentValidationMessage For="@(() => SearchModel.StartingDirectory)"/>
            </div>
        </FluentGridItem>
        <FluentGridItem xs="6" sm="3">
            <div class="card">
                xs="6" sm="3"
                <FluentTextField Name="startingDirectory" @bind-Value="SearchModel.StartingDirectory"
                                 Label="StartingDirectory" Required/>
                <FluentValidationMessage For="@(() => SearchModel.StartingDirectory)"/>
            </div>
        </FluentGridItem>
        <FluentGridItem xs="6" sm="3">
            <div class="card">
                xs="6" sm="3"
                <FluentTextField Name="startingDirectory" @bind-Value="SearchModel.StartingDirectory"
                                 Label="StartingDirectory" Required/>
                <FluentValidationMessage For="@(() => SearchModel.StartingDirectory)"/>
            </div>
        </FluentGridItem>
        <FluentGridItem xs="3">
            <div class="card">
                xs="3"
                <FluentTextField Name="startingDirectory" @bind-Value="SearchModel.StartingDirectory"
                                 Label="StartingDirectory" Required/>
                <FluentValidationMessage For="@(() => SearchModel.StartingDirectory)"/>
            </div>
        </FluentGridItem>
        <FluentGridItem xs="12">
            <div class="card">
                <FluentButton Type="ButtonType.Submit" Appearance="Appearance.Accent" style="width: 100%;">Start
                    Search
                </FluentButton>
            </div>
        </FluentGridItem>
    </FluentGrid>
</EditForm>