@page "/admin/file-classifications"
@using FluentUI.Demo.Shared
@using FluentUI.Demo.Shared.SampleData
@using Microsoft.FluentUI.AspNetCore.Components.Icons.Filled
@using App = App
@using Size16 = Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size16
@using Size20 = Microsoft.FluentUI.AspNetCore.Components.Icons.Regular.Size20

@inject HttpClient Http

@inject NavigationManager NavManager

<PageTitle>@App.PageTitle("File Classifications")</PageTitle>

<h1>File Classifications</h1>
<FluentPaginator State="@_pagination" SummaryTemplate="@_template"/>

<div style="height: 484px; overflow:auto;" tabindex="-1">
    <FluentDataGrid @ref="_dataGrid"
                    Items="_foodRecallItems"
                    RefreshItems="RefreshItemsAsync"
                    OnRowDoubleClick="@(() => DemoLogger.WriteLine("Row double clicked!"))"
                    RowSize="DataGridRowSize.Small"
                    GenerateHeader="GenerateHeaderOption.Sticky"
                    TGridItem="FoodRecall"
                    Loading="_loading"
                    Pagination="_pagination">
        <PropertyColumn Title="ID" Property="@(c => c!.Event_Id)"/>
        <PropertyColumn Property="@(c => c!.State)" Style="color: #af5f00 ;"/>
        <PropertyColumn Property="@(c => c!.City)"/>
        <PropertyColumn Title="Company" Property="@(c => c!.Recalling_Firm)" Tooltip="true"/>
        <PropertyColumn Property="@(c => c!.Status)"/>
        <PropertyColumn Title="Recalling Firm" Property="@(c => c!.Recalling_Firm)" SortBy="@(new ColumnKeyGridSort<FoodRecall>("recalling_firm"))" Sortable="true"/>
        <TemplateColumn Title="Actions" Align="@Align.End">
            <FluentButton aria-label="Edit item" IconEnd="@(new Size16.Edit())" OnClick="@(() => DemoLogger.WriteLine("Edit clicked"))"/>
            <FluentButton aria-label="Delete item" IconEnd="@(new Size16.Delete())" OnClick="@(() => DemoLogger.WriteLine("Delete clicked"))"/>
        </TemplateColumn>
    </FluentDataGrid>
    <FluentAccordion>
        <FluentAccordionItem Heading="Filter(s)" Expanded="true">
            <FluentIcon Value="@(new Size20.FilterAdd())" Color="@Color.Neutral" Slot="start" />
            <FluentGrid Spacing="1" Justify="JustifyContent.FlexStart" Style="padding: 5px;">
                <FluentGridItem xs="12" sm="6" md="4">
                    <FluentTextField @bind-Value="_stateFilter" Label="State Filter"></FluentTextField>
                </FluentGridItem>
            </FluentGrid>
            <FluentStack Orientation="Orientation.Horizontal" HorizontalAlignment="HorizontalAlignment.End">
                <FluentButton IconStart="@(new Size16.Broom())"
                              Disabled="_loading"
                              OnClick="ClearFilters">
                    Clear
                </FluentButton>
                <FluentButton IconStart="@(new Size16.ArrowClockwise())"
                              Appearance="Appearance.Accent"
                              Loading="_loading"
                              OnClick="DataGridRefreshDataAsync">
                    Search
                </FluentButton>
            </FluentStack>
        </FluentAccordionItem>
    </FluentAccordion>
    <br />
</div>
<FluentPaginator State="@_pagination" />

@code {
    private readonly RenderFragment _template = @<span />;
}
